@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&family=Roboto+Mono:wght@300&family=Ubuntu:wght@400;700&display=swap');

/* root styling */

:root{
    --light: #f8f9fa;
    --secondary: #d1dae4;
    --dark: #343a40;
    --primary-color: #ADB5BD;
    --button-bg: #DEE2E6;
    --secondary-color: #2ec4b6;
    --border: #e9ecef;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--light);
}

a{
    text-decoration: none;
}

h4{
    color: #403866;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
}
p{
    color: black;
    font-family: 'Roboto', sans-serif;
}
input[type='text']{
    width: 100%;
    padding: 15px;
    margin: 10px 0px 5px 0px;
    display: inline-block;
    border: 5px solid var(--dark);
    border-radius: 5px;
    line-height: 1.2;
    background-color: rgb(230,230,230);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    height: 62px;
}
input[type='submit']{
    color: var(--light);
    width: 25%;
    padding: 15px;
    margin: 10px 0px 5px 0px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    line-height: 1.2;
    background-color: var(--dark);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    height: 62px;
}
input[type='submit']:hover{
    color: var(--dark);
    background-color: var(--button-bg);
    border: 5px solid var(--dark);
}
select{
    width: 100%;
    padding: 15px;
    margin: 10px 0px 5px 0px;
    display: inline-block;
    border: 5px solid var(--dark);
    
    line-height: 1.2;
    background-color: rgb(230,230,230);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    height: 62px;
}

*>*{
    box-sizing: border-box;
}

/* global styling */

.text-light{
    color: var(--light);
}
.text-secondary{
    color: var(--secondary);
}
.text-dark{
    color: var(--light);
}
.text-primary{
    color: var(--primary-color);
}
.bg-light{
     background-color: var(--dark);
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

/* section styling */

/* -------Navigation menu------- */
.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.nav-blog{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}
.nav-blog:hover{
    color: var(--primary-color);
}

.collapse{
    align-self: center;
}

.nav-link{
    font-size: 18px;
    margin: 12px;
    color: var(--light);
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover{
    color: var(--primary-color);
}



/* -------.Navigation menu------- */


/*------ main section ------*/

#main-sec{
    margin-top: 50px;
    margin-left:10%;
    margin-right:10%;
}



/*------ .main section ------*/

.courses{
    position: relative;
    
    flex-direction: row;
    justify-content: space-between;
    
}




