@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap');


/* root styling */

:root{
    --light: #f8f9fa;
    --secondary: #adb5bd;
    --dark: #343a40;
    --primary-color: rgb(129, 127, 246);
    --secondary-color: #2ec4b6;
    --border: #e9ecef;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

*>*{
    box-sizing: border-box;
}

/* global styling */

.text-light{
    color: var(--light);
}
.text-secondary{
    color: var(--secondary);
}
.text-dark{
    color: var(--dark);
}
.text-primary{
    color: var(--primary-color);
}
.bg-light{
     background-color: var(--light);
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

/* section styling */

/* -------Navigation menu------- */
.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.nav-blog{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}
.nav-blog:hover{
    color: var(--primary-color);
}

.collapse{
    align-self: center;
}

.nav-link{
    font-size: 18px;
    margin: 12px;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover{
    color: var(--primary-color);
}
.rbtn{
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    padding: 16px;
    width: 100%;
    border-radius: 5px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    opacity: 0.8;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    
 }
 .rbtn:hover{
    opacity: 1;
    background-color: #403866;
 }

/* .search-box{ 
    display: inline;
    border-right: 1px solid var(--dark);
    padding-right: 10px;
    margin-right: 10px;
}*/
/* -------.Navigation menu------- */


/*------ main section ------*/

#public-story{
    padding: 20px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.title{
    font-size: 20px;
}

input[type='text']{
    width: 100%;
   padding: 15px;
   margin: 10px 0px 5px 0px;
   display: inline-block;
   border: none;
   border-radius: 5px;
   line-height: 1.2;
   background-color: rgb(230,230,230);
   font-family: 'Ubuntu', sans-serif;
   font-size: 20px;
   height: 62px;
}

textarea{
    width: 100%;
   padding: 15px;
   margin: 10px 0px 5px 0px;
   display: inline-block;
   border: none;
   border-radius: 5px;
   line-height: 1.2;
   background-color: rgb(230,230,230);
   font-family: 'Ubuntu', sans-serif;
   font-size: 20px;
   height: 300px;
}

/*------ .main section ------*/


