@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&family=Roboto+Mono:wght@300&family=Ubuntu:wght@400;700&display=swap');

/* root styling */

:root{
    --light: #f8f9fa;
    --secondary: #d1dae4;
    --dark: #343a40;
    --primary-color: #ADB5BD;
    --button-bg: #DEE2E6;
    --secondary-color: #2ec4b6;
    --border: #e9ecef;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--light);
}

a{
    text-decoration: none;
}

h4{
    color: #403866;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
}
p{
    color: black;
    font-family: 'Roboto', sans-serif;
}

*>*{
    box-sizing: border-box;
}

/* global styling */

.text-light{
    color: var(--light);
}
.text-secondary{
    color: var(--secondary);
}
.text-dark{
    color: var(--light);
}
.text-primary{
    color: var(--primary-color);
}
.bg-light{
     background-color: var(--dark);
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

/* section styling */

/* -------Navigation menu------- */
.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.nav-blog{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}
.nav-blog:hover{
    color: var(--primary-color);
}

.collapse{
    align-self: center;
}

.nav-link{
    font-size: 18px;
    margin: 12px;
    color: var(--light);
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover{
    color: var(--primary-color);
}


/* -------.Navigation menu------- */


/*------ main section ------*/

#public-story{
    margin-top: 50px;
    margin-left:10%;
    margin-right:10%;
}



/*------ .main section ------*/

.courses{
    position: relative;
    
    flex-direction: row;
    justify-content: space-between;
    
}
.sec1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}
.sec2{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}



.nb-link{
    background-color: var(--button-bg);
    color: var(--dark);
    font-size: 15px;
    padding-top: 6.5vw;
    width: 20vw;
    height: 15vw;
    
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    font-family: 'Roboto', sans-serif;
    border: 5px solid var(--dark);
    margin-top: 10px;
}

.cor1 .nb-link:hover{
    opacity: 1;
    background-image: url('/static/images/web-dev.svg');
    color: transparent;
}
.cor2 .nb-link:hover{
    opacity: 1;
    background-image: url('/static/images/machine-learning.svg');
    color: transparent;
}
.cor3 .nb-link:hover{
    opacity: 1;
    background-image: url('/static/images/blockchain.svg');
    color: transparent;
}
.cor4 .nb-link:hover{
    opacity: 1;
    background-image: url('/static/images/data-science.svg');
    color: transparent;
}
.cor5 .nb-link:hover{
    opacity: 1;
    background-image: url('/static/images/languages.svg');
    color: transparent;
}
.cor6 .nb-link:hover{
    opacity: 1;
    background-image: url('/static/images/cyber-security.svg');
    color: transparent;
}