@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&family=Roboto+Mono:wght@300&family=Ubuntu:wght@400;700&display=swap');

/* root styling */

:root{
    --light: #f8f9fa;
    --secondary: #d1dae4;
    --dark: #343a40;
    --primary-color: #ADB5BD;
    --button-bg: #DEE2E6;
    --secondary-color: #2ec4b6;
    --border: #e9ecef;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--light);
}

a{
    text-decoration: none;
}

h1{
    
    color: #212529;
    font-family: 'Roboto', sans-serif;
    
    text-transform: uppercase;
}
p{
    color: black;
    font-family: 'Roboto', sans-serif;
}

*>*{
    
    box-sizing: border-box;
}

/* global styling */

.text-light{
    color: var(--light);
}
.text-secondary{
    color: var(--secondary);
}
.text-dark{
    color: var(--light);
}
.text-primary{
    color: var(--primary-color);
}
.bg-light{
     background-color: var(--dark);
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
    
}



input[type='button']
{
    width:"325";
    height:"187";
}



/* section styling */

/* -------Navigation menu------- */
.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.nav-blog{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}
.nav-blog:hover{
    color: var(--primary-color);
}

.collapse{
    align-self: center;
}

.nav-link{
    font-size: 18px;
    margin: 12px;
    color: var(--light);
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover{
    color: var(--primary-color);
}

/* .search-box{ 
    display: inline;
    border-right: 1px solid var(--dark);
    padding-right: 10px;
    margin-right: 10px;
}*/
/* -------.Navigation menu------- */


/*------ main section ------*/

#public-story{
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    
}
.basic{
    border: 5px solid var(--dark);
    
}
.section{
    margin: 10px;
}


/*------ .main section ------*/

.courses{
    
    position: absolute;
    
    flex-direction: row;
    justify-content: space-between;
    
}


.scrolling-wrapper {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 1320px;
    margin-top: 10px;
    border: 5px solid var(--dark);
}
  
.scrolling-wrapper iframe {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    margin-right: 10px;
    
    padding: 14px;
}
.scrolling-wrapper iframe:hover {
    background-color: #777;
}


  


