<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="/static/css/profile.css">

</head>
<body>

    <!-- Header -->
    <header id="header" class="shadow bg-light">
        <nav class="container navbar">
            <a href="{{ url_for('index') }}" class="nav-blog text-dark">Code'Scool</a>

            <!-- collapse -->
            <div class="collapse">
                <ul class="navbar-nav">
                    <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                    
                    <a href="{{ url_for('signout') }}" class="nav-link">Logout</a>

                </ul>
            </div>
        </nav>
    </header>
    <!-- .Header -->
    <!-- Public story section -->
    <main id="your-story">
        <section id="posts">
            <div class="containor">
                <h3>Welcome  {{ fname }} </h1>
                    <div class="flex_items">
                        <a href="#" class="newimg">profile</a>
                    </div>

                    <table style="padding:10px" >
                        <tr>
                            <td style="padding:10px">Username: </td>
                            <td> {{ uname }}</td>
                        </tr>
                        <tr>
                            <td style="padding:10px">First name: </td>
                            <td> {{ finame }} </td>
                        </tr>
                        <tr>
                            <td style="padding:10px">Surname: </td>
                            <td> {{ sname }} </td>
                        </tr>
                        <tr>
                            <td style="padding:10px">BirthDate: </td>
                            <td> {{ bdate }}</td>
                        </tr>
                        
                    </table>


                <a href="{{ url_for('index') }}" class="nb-link">Select Course</a>
                
                <p> Last Course Viewed : {{ course }}</p>
            </div>
        </section>
    </main>
    <!-- .public story section -->
</body>