<!DOCTYPE html>
    <html lang="en">
                    <head>
                        <title>Blog</title>
                        <meta charset="UTF-8">
                        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <!-- css -->
                        <link rel="stylesheet" href="/static/css/profile_select_course.css">
                    
                    </head>
    <body>

    <!-- Header -->
    <header id="header" class="shadow bg-light">
        <nav class="container navbar">
            <a href="{{ url_for('index') }}" class="nav-blog text-dark">Code Scool</a>

            <!-- collapse -->
            <div class="collapse">
                <ul class="navbar-nav">
                    <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                    
                    <a href="{{ url_for('signout') }}" class="nav-link">Logout</a>

                </ul>
            </div>
        </nav>
    </header>
    <!-- .Header -->
    <!-- Public story section -->
    <main id="your-story">
        <section class="toptodown">
        <section id="posts">
            <div class="containor">

                        <section class="header1">
                         <h1 class=" heading1">Select a course</h1>  </section>
                         
                            <section class="course_links">                               
                             
                            <div class="flex_item"><a href="{{ url_for('input') }}" class="nb-link">c</a></div>
                                   
                                   
                            <div class="flex_item"><a href="{{ url_for('index') }}" class="nb-link">C ++ </a> </div> 
                            
                            <div class="flex_item"><a href="{{ url_for('index') }}" class="nb-link">C ++ </a> </div> 
                             
                            
                                
                            </section> 
                            <section class="course_links">                               
                             
                                <div class="flex_item"><a href="{{ url_for('input') }}" class="nb-link">Java</a></div>
                                       
                                       
                                <div class="flex_item"><a href="{{ url_for('index') }}" class="nb-link">Python</a> </div>
                                <div class="flex_item"><a href="{{ url_for('index') }}" class="nb-link">Python</a> </div>  
                                 
                                
                                
                                    
                                </section> 
                                <section class="course_links">  <h1></h1>  </section> 
                                  <!-- Site footer -->
                                    <footer class="site-footer">
                                      <div class="container">
                                        <div class="row">
                                          <div class="col-sm-12 col-md-6">
                                            <h6>About</h6>
                                            <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
                                          </div>
                                
                                          <div class="col-xs-6 col-md-3">
                                            <h6>Categories</h6>
                                            <ul class="footer-links">
                                              <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                                              <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                                              <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                                              <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                                              <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                                              <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
                                            </ul>
                                          </div>
                                
                                          <div class="col-xs-6 col-md-3">
                                            <h6>Quick Links</h6>
                                            <ul class="footer-links">
                                              <li><a href="http://scanfcode.com/about/">About Us</a></li>
                                              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                                              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                                              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                                              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                                            </ul>
                                          </div>
                                        </div>
                                        <hr>
                                      </div>
                                      <div class="container">
                                        <div class="row">
                                          <div class="col-md-8 col-sm-6 col-xs-12">
                                            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
                                         <a href="#">Scanfcode</a>.
                                            </p>
                                          </div>
                                
                                          <div class="col-md-4 col-sm-6 col-xs-12">
                                            <ul class="social-icons">
                                              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                                              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                </footer> 
                                
                                   <!----------

                            <section class="midhead">
                                    <div class="wrapper">
                                        <div class="item">Box-1</div>
                                        <div class="item">Box-2</div>
                                        <div class="item">Box-3</div>
                                        <div class="item">Box-4</div>
                                        <div class="item">Box-5</div>
                                        <div class="item">Box-1</div>
                                        <div class="item">Box-2</div>
                                        <div class="item">Box-3</div>
                                        <div class="item">Box-4</div>
                                        <div class="item">Box-5</div>
                                        <div class="item">Box-1</div>
                                        <div class="item">Box-2</div>
                                        <div class="item">Box-3</div>
                                        <div class="item">Box-4</div>
                                        <div class="item">Box-5</div>                                       
                                    
                                    </div>

                                   -->




                                <!-- Site footer -->
                            </section>
                                
                            

                        </div>
                            </section>
                            
                        </section> 



                    
</main>
<!-- .public story section -->
</body>