<html lang="en">
<head>
    <title>input</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="/static/css/input.css">
</head>
<body>
    <!-- Header -->
    <header id="header" class="shadow bg-light">
        <nav class="container navbar">
            <a href="{{ url_for('index') }}" class="nav-blog text-dark">Code Scool</a>

            <!-- collapse -->
            <div class="collapse">
                <ul class="navbar-nav">
                    <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                    
                    <a href="{{ url_for('profile') }}" class="nav-link">Profile</a>

                </ul>
            </div>
        </nav>
    </header>
    <!-- .Header -->

    <!-- Public story section -->
    <main id="public-story"> 
        <section id="posts">
            <div class="containor">
                <form method="post">
                    <div class="title">
                        <input type="text" placeholder="Title" name="title" id="title" required >
                    </div>
                    <hr>
                    <div class="blog">
                        <textarea id="story" name="post" placeholder="Write story here.." required></textarea>
                        <hr>
                        <button id="btnSubmit" class="rbtn" onclick = 'this.form.submit();' type="button">Submit</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!-- .public story section -->




    
</body>
</html>